/*ESSE CSS SERVE
PARA MUDAR AS PROPRIEDADES DO TITULO*/


header{
background-color: #7b54e6;
color: #fff;
padding: 15px;
text-align: center;
border-bottom: 10px solid #000000;
}


footer{
    background-color: #7b54e6;
    color: #000000;


}

.bold{
    font-weight: bold;


    *{padding: 0;margin: 0;box-sizing: border-box; font-family: helvetica;}

}